html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    margin: -64px 0 0 0;
    padding: 64px 0 0 0;
}

main, #main, #mapid {
    height: 100%;
}

#main {
    width: calc(100% - 300px);
}

#mapid {
    width: 100%;
}

#hover-info {
    position: absolute;
    z-index: 1;
    width: calc(100% - 300px);
    text-align: center;
    bottom: 0;
}

#hover-info span {
    display: inline-block;
    color: white;
    padding: 6px 8px;
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 20px 0;
}

nav {
    background-color: #2b8cbe;
}

#sidebar {
    right: 0;
    position: absolute;
    height: calc(100% - 64px);
    z-index: 1;
    background-color: white;
    width: 300px;
    padding: 0 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

canvas {
    height: auto;
    width: 100%;
}

.legend div span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

#regency-detail {
    width: 100%;
}

#map-legend {
    width: 100%;
    border-top: dashed black thin;
    margin: 10px 0;
}

/* Autocomplete */

.autocomplete-content {
    /*margin-left: 3rem;*/
    width: 92%;
    /*width: calc(100% - 3rem);*/
}

.autocomplete-content {
    margin-top: -15px;
    display: block;
    opacity: 1;
    position: static;
}

.autocomplete-content li .highlight{
    color: #444;
}

.autocomplete-content {
    position: absolute;
    max-height: 200px;
}